/.env
/vendor
/node_modules
/public/build

/storage/*
!/storage/.gitignore
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/.idea
/.vscode
Reporte de mantenimiento_IP23_IRB6620-150-2.2-M2004_66-63069_IRC5-M2004_66-63069.pdf
